header {
    width: 100%;
    height: 5%;
    text-align: center;
    padding: 1.7rem;
    box-shadow: 1px 1px 1px black;
    /* background-color: #c18ff7; */
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    
}

header .botoes-header {
    width: 30%;
    font-size: 7px;
    display: flex;
    justify-content: space-between;
    
}

header #logo {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
