header {
    width: 100%;
    height: 13%;
    text-align: center;
    padding: 2rem;
    box-shadow: 1px 1px 1px black;

    display: flex;
    justify-content: space-between;
    
}

header .botoes-header {
    width: 40%;
    display: flex;
    justify-content: space-between;
    
}

