.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;

    background-image: url(/img/fundo3.png);
    background-size: cover;
}

.container .title {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container .table {
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/fundo5.png);
    background-size: cover;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.container .table .tbody {
    text-align: center;
}

table caption {
    font-size: 1.5rem;
    font-weight: 700;
}
table td, table th {
    padding: .7rem .7rem;
    border: .1rem solid rgb(27, 4, 27);
    border-radius: .6rem;
}