
body {
    height: 100vh;
}

div.jumbotron {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#caixa {
    margin-top: 1.5rem;
    background-image: url(/img/fundo3.png);
    background-size: cover;
    transition: 0.5s;
}

#caixa:hover {
    cursor: pointer;
    background-image: url(/img/fundo4.png);
}

#footer {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}