

#custom-sobre {
    margin-top: 3rem;
}

main {
    color: whitesmoke;
}

#container-icons {
    display: flex;
}
#custom-video-card {
    background-image: url(/img/fundo1.png);
    color: whitesmoke;
}