@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


.tabela{
    font-family: 'Silkscreen', cursive;
    color: rgb(2, 2, 2);
    line-height: px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
    
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table td {
    padding: 5px;
  }
  

